@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-poppins);
}

body::before {
  display: block;
  content: "";
}

@media (max-width: 768px) {
  body::before {
    display: block;
    content: "";
  }
}

@layer utilities {
  .active {
    background-color: red;
  }
}
